<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Spring Boot on App Service</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot</h1>
        <h3>
            ... deployed onto Azure with GitHub Actions
        </h3>
    </div>

    <br>
    <div style="text-align: center;">
        <img class="img-fluid" src="https://swimburger.net/media/ppnn3pcl/azure.png" style="width: 10%"/>
        <img class="img-fluid"src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/169px-Heart_coraz%C3%B3n.svg.png" style="width: 10%">
        <img class="img-fluid"src="https://raw.githubusercontent.com/JasonFreeberg/my-spring-app/master/src/main/resources/static/GitHub-Mark-120px-plus.png" style="width: 10%">
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
